.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
  background-position: 50%;*/
  position: relative;
  visibility: visible;
  width: 100%;
}

.desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 220px;
}
.desc.base {
  background: rgba(230, 0, 98, 0.75);
}
.desc.one {
  background: rgba(252, 171, 55, 0.75);
}
.desc.two {
  background: rgba(169, 160, 50, 0.75);
}
.desc.three {
  background: rgba(83, 70, 54, 0.75);
}
.desc h2 {
  margin: 165px 20px 0 20px;
}
.desc p {
  font-size: .5em;
  text-transform: lowercase;
}
